<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">The COVID-2020 workshop focuses on all aspects of modeling, simulating, mining, and understanding the spatial processes and patterns of the spread of COVID-19 and other infectious diseases. This cross-disciplinary workshop is a forum to bring together researchers in the SIGSPATIAL community as well as researchers in epidemiology. Also, this workshop is of interest to everyone who works with infectious disease data and models (not necessarily COVID19). In addition to paper presentations, this workshop will feature invited speakers keynotes from experts across the SIGSPATIAL community and epidemiology.</p>

<h2 class="section-title">Call For Papers (<a href="./files/COVID2020_cfp.pdf">PDF</a>)</h2>

<p itemprop="description">The workshop seeks high-quality full (8-10 pages) and short (4 pages) papers that have not been published in other academic outlets and are not concurrently under peer review. Once accepted, at least one author is required to register for the workshop and the ACM SIGSPATIAL conference, as well as attend the workshop to present the accepted work which will then appear in the ACM Digital Library. </p>

<p itemprop="description">Example topics include, but not limited to:</p>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-ltad{font-size:14px;text-align:left;vertical-align:top}
.tg .tg-3ebe{border-color:inherit;color:#262626;font-size:14px;text-align:left;vertical-align:middle}
.tg .tg-2mdn{color:#262626;font-size:14px;text-align:left;vertical-align:middle}
</style>
<table class="tg">
<thead>
</thead>
<tbody>
  <tr>
    <td class="tg-3ebe">* Contact Tracing</td>
    <td class="tg-3ebe">* COVID-19 Tracking and Data Collection</td>
  </tr>
  <tr>
    <td class="tg-3ebe">* COVID-19 Data Cleaning and Wrangling</td>
    <td class="tg-3ebe">* Disease Spread Simulation</td>
  </tr>
  <tr>
    <td class="tg-2mdn">* COVID-19 Data Mining</td>
    <td class="tg-2mdn">* Managing Uncertainty in COVID-19 Data</td>
  </tr>
  <tr>
    <td class="tg-2mdn">* COVID-19 Data Query Processing</td>
    <td class="tg-2mdn">* Mapping and Visual Analytics of COVID-19</td>
  </tr>
  <tr>
    <td class="tg-2mdn">* COVID-19 Effects on Human Mobility</td>
    <td class="tg-2mdn">* Prescriptive Analytics for COVID-19</td>
  </tr>
  <tr>
    <td class="tg-2mdn">* COVID-19 Hotspot Detection</td>
    <td class="tg-2mdn">* Socioeconomic Impact of COVID-19</td>
  </tr>
  <tr>
    <td class="tg-2mdn">* COVID-19 Simulation and Modeling</td>
    <td class="tg-2mdn">* Spatial Analysis of COVID-19</td>
  </tr>
  <tr>
    <td class="tg-2mdn">* COVID-19 and Social Media</td>
    <td class="tg-2mdn">* Spatially Explicit COVID-19 Prediction Models</td>
  </tr>
</tbody>
</table>

<br><br><br><br>

<h2 class="section-title">Submission Information</h2>

<h4>Submission deadline</h4>

<p itemprop="description"> September 30, 2020 </p>

<h4>Author notification</h4>

<p itemprop="description">October 18, 2020 (updated!)</p>

<h4>Camera-ready Due</h4>

<p itemprop="description">October 20, 2020</p>

<h4>Workshop date</h4>

<p itemprop="description">November 03, 2020</p>

<h4>Submission site</h4>

<p itemprop="description"><a href="https://easychair.org/conferences/?conf=covid2020">https://easychair.org/conferences/?conf=covid2020</a></p>

<br><br><br><br>

<h2 class="section-title">Organization Committee</h2>

<br>

<h4>General Chairs</h4>

<p itemprop="description">Andreas Züfle (George Mason University)</p>

<h4>Program Chairs</h4>

<p itemprop="description">Taylor Anderson (George Mason University)</p>
<p itemprop="description">Jia Yu (Washington State University)</p>

<h4>Program Committee</h4>

<p itemprop="description">

Michael Desjardins  (Johns Hopkins Bloomberg School of Public Health)<br>
    
Suzana  Dragicevic  (Simon Fraser University)<br>
    
Zipei Fan (The University of Tokyo)<br>
    
Song  Gao (University of Wisconsin-Madison)<br>
    
Yulia Gel (University of Texas at Dallas, USA and University of Waterloo, Canada)<br>
    
Alexander Hohl  (The University of Utah)<br>
    
Muhammad  Imran (Qatar Computing Research Institute)<br>
    
Hamdi Kavak (George Mason University)<br>
    
Joon-Seok Kim (George Mason University)<br>
    
Tao Liu (Michigan Technological University)<br>
    
Ignacio Segovia- Dominguez  (University of Texas at Dallas)<br>
    
Xuan  Song  (The University of Tokyo)<br>
    
Yiqun Xie (University of Maryland)<br>
    
Dong  Xie (Pennsylvania State University)<br>
    
Di  Yang  (University of Wyoming)<br>

</p>
